#wrapper3 { display:block !important; }
#jfgHomeContainer{
  display:flex; justify-content: space-around;
}
#okta-sign-in .button, #okta-sign-in .button.link-button, #okta-sign-in input[type="submit"].button, #okta-sign-in.auth-container input[type="submit"], #okta-sign-in.auth-container input[type="button"], #okta-sign-in .button, #okta-sign-in .button.link-button, #okta-sign-in .enroll-factor-row .enroll-factor-button .button {
    background: #033364;
    border: 0;
    border-radius: 0px;
    font-weight: 700;
    letter-spacing: .025em;
    color: #fff;
    border: 0 none;
    display: inline-block;
    transition: all .1s ease !important;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    cursor: pointer;
    letter-spacing: 0;
}
#okta-sign-in .button:hover, #okta-sign-in .button.link-button:hover, #okta-sign-in input[type="submit"].button:hover, #okta-sign-in.auth-container input[type="submit"]:hover, #okta-sign-in.auth-container input[type="button"]:hover, #okta-sign-in .button:hover, #okta-sign-in .button.link-button:hover {
    background: #033364;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    text-decoration: none;
}
#okta-sign-in.auth-container .button-primary{
  background: #033364;
}

.header {
    height: 70px;
    padding: 0 20px;
}
div#headerlogo {
    padding: 23px 0px;
}
.footer-container{
  background-color: #949fa6;
  }
.jfgfooter {
    text-align: center;
    color: #fff;
    padding: 20px;
   font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.jfgfooter h1,h2{
 font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
 @media (max-width:768px) {
   #jfgHomeContainer {
     display:block;
}
   .welcome{
   display:none;
   }
   }
@media only screen and (max-width: 600px)
  {
    #okta-sign-in.auth-container {
        width: 350px;
    } 
  }
@media only screen and (max-width: 866px)
  {
    .jfgbg {
          background-size: 178%;
           } 
  }
.welcome a {
            margin: 6px 0px;
            font-size: 24px;
            color: white;
            text-decoration: none;
        }
.okta-sign-in-header.auth-header {
    display: none;
}
#okta-sign-in.auth-container h2, #okta-sign-in.auth-container h3 {
    font-weight: 999;
    color: #1c1c1c;
    text-align: left;
    font-size: 1.8em;
}
a.link.help.js-help {
    display: none !important;
}
a.link.js-help-link {
    display: none !important;
}
ul#help-links-container {
    display: block !important;
}
.welcome {
    color: white;
}
.jfgcopyright {
    font-size: small;
}
