#wrapper3 { display:block !important; }
#jfgHomeContainer{
  display:flex; justify-content: space-around;
}
.header {
    height: 70px;
    padding: 0 20px;
}
div#headerlogo {
    padding: 23px 0px;
}
.footer-container{
  background-color: #949fa6;
  }
.jfgfooter {
    text-align: center;
    color: #fff;
    padding: 20px;
   font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.jfgfooter h1,h2{
 font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
 @media (max-width:768px) {
   #jfgHomeContainer {
     display:block;
}
   .welcome{
   display:none;
   }
   }

.welcome a {
            margin: 6px 0px;
            font-size: 24px;
            color: white;
            text-decoration: none;
        }
.okta-sign-in-header.auth-header {
    display: none;
}
#okta-sign-in.auth-container h2, #okta-sign-in.auth-container h3 {
    font-weight: 999;
    color: #1c1c1c;
    text-align: left;
    font-size: 1.8em;
}
a.link.help.js-help {
    display: none !important;
}
a.link.js-help-link {
    display: none !important;
}
ul#help-links-container {
    display: block !important;
}
.welcome {
    color: white;
}
